In [1]:
import pandas as pd

# Replace 'your_file_path.parquet' with the actual path to your Parquet file
file_path = "apache_error_client2_w_loghub.csv"

# Read Parquet file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Display the DataFrame
# print(df)
df

,client,level,message,time,label
0,NaN,notice,workerEnv.init() ok /etc/httpd/conf/workers2.p...,1133671664,NaN
1,NaN,error,mod_jk child workerEnv in error state 6,1133671664,1.0
2,NaN,notice,jk2_init() Found child 6725 in scoreboard slot 10,1133671868,NaN
3,NaN,notice,jk2_init() Found child 6726 in scoreboard slot 8,1133671869,NaN
4,NaN,notice,jk2_init() Found child 6728 in scoreboard slot 6,1133671869,NaN
...,...,...,...,...,...
3332,172.17.130.196:35098,php7:error,script '/var/www/intranet.price.fox.org/wp-inc...,1642484261,1.0
3333,172.17.130.196:35098,php7:error,script '/var/www/intranet.price.fox.org/wp-inc...,1642484261,1.0
3334,172.17.130.196:35114,php7:error,script '/var/www/intranet.price.fox.org/wp-inc...,1642484264,1.0
3335,172.17.130.196:35146,php7:error,script '/var/www/intranet.price.fox.org/wp-inc...,1642484269,1.0
3336,172.17.130.196:35146,php7:error,script '/var/www/intranet.price.fox.org/wp-inc...,1642484269,1.0

In [2]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3337 entries, 0 to 3336
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   client   1370 non-null   object
 1   level    3337 non-null   object
 2   message  3337 non-null   object
 3   time     3337 non-null   int64
 4   label    1932 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 130.5+ KB
None

In [3]:
import math

In [4]:
# Filter rows for all specified labels
# Fill null values in the 'label' column with '0'
# Copy the 'label' column to create a new column named 'new_label'
df['label_og'] = df['label']
df['label'] = df['label'].fillna(0)
df['label'] = df['label'].astype(int)

# specified_labels = [0, 1]
# specified_df = df[df['label'].isin(specified_labels)]

# Manage Client
df['client'] = df['client'].notnull().astype(int)

# Reset index
df.reset_index(drop=True, inplace=True)
df

,client,level,message,time,label,label_og
0,0,notice,workerEnv.init() ok /etc/httpd/conf/workers2.p...,1133671664,0,NaN
1,0,error,mod_jk child workerEnv in error state 6,1133671664,1,1.0
2,0,notice,jk2_init() Found child 6725 in scoreboard slot 10,1133671868,0,NaN
3,0,notice,jk2_init() Found child 6726 in scoreboard slot 8,1133671869,0,NaN
4,0,notice,jk2_init() Found child 6728 in scoreboard slot 6,1133671869,0,NaN
...,...,...,...,...,...,...
3332,1,php7:error,script '/var/www/intranet.price.fox.org/wp-inc...,1642484261,1,1.0
3333,1,php7:error,script '/var/www/intranet.price.fox.org/wp-inc...,1642484261,1,1.0
3334,1,php7:error,script '/var/www/intranet.price.fox.org/wp-inc...,1642484264,1,1.0
3335,1,php7:error,script '/var/www/intranet.price.fox.org/wp-inc...,1642484269,1,1.0
3336,1,php7:error,script '/var/www/intranet.price.fox.org/wp-inc...,1642484269,1,1.0

In [5]:
import pandas as pd

# Get the number of rows in the DataFrame
row_count = len(df)
print("Number of rows in the DataFrame:", row_count)

# Count the occurrences of each value in the 'label' column
label_counts = df['label'].value_counts().reset_index()
label_counts.columns = ['label', 'count']

# Count the number of distinct values in the 'label' column
distinct_label_count = label_counts.shape[0]

print("Number of distinct values in 'label' column:", distinct_label_count)
print("Number of occurrences of each value in 'label' column:")
print(label_counts)

Number of rows in the DataFrame: 3337
Number of distinct values in 'label' column: 2
Number of occurrences of each value in 'label' column:
   label  count
0      1   1932
1      0   1405

In [6]:
# Show the last 5 rows
df.tail(5)

,client,level,message,time,label,label_og
3332,1,php7:error,script '/var/www/intranet.price.fox.org/wp-inc...,1642484261,1,1.0
3333,1,php7:error,script '/var/www/intranet.price.fox.org/wp-inc...,1642484261,1,1.0
3334,1,php7:error,script '/var/www/intranet.price.fox.org/wp-inc...,1642484264,1,1.0
3335,1,php7:error,script '/var/www/intranet.price.fox.org/wp-inc...,1642484269,1,1.0
3336,1,php7:error,script '/var/www/intranet.price.fox.org/wp-inc...,1642484269,1,1.0

In [7]:
print(df.dtypes)

client        int32
level        object
message      object
time          int64
label         int32
label_og    float64
dtype: object

In [8]:
# Define Function
def key_isAH(value):
    if value is not None and value.startswith('AH'): 
        return 1
    else:
        return 0
    
# isInvalid
def value_isInvalid(value):
    return 1 if 'invalid' in value.lower() else 0

def value_isforbidden(value):
    return 1 if 'forbidden' in value.lower() else 0

# isFail
def value_isFail(value):
    return 1 if 'fail' in value.lower() else 0

# script && not found
def key_script_not_found(value):
    return 1 if ('script' in value.lower()) and ('not found' in value.lower()) else 0

# time interval (action per sec)

# isFatal
def key_isFatal(value):
    return 1 if 'fatal' in value.lower() else 0

# isscandir
def key_isscandir(value):
    return 1 if 'scandir' in value.lower() else 0

# level isError
def level_isError(value):
    characters = ['error', 'emerg', 'alert', 'crit']
    if value is not None and any(char in value.lower() for char in characters):
        return 1
    else:
        return 0

In [9]:
# Apply functions to DataFrame columns

df['key_isAH'] = df['message'].apply(key_isAH)
df['value_isInvalid'] = df['message'].apply(value_isInvalid)
df['value_isforbidden'] = df['message'].apply(value_isforbidden)
df['value_isFail'] = df['message'].apply(value_isFail)
df['key_script_not_found'] = df['message'].apply(key_script_not_found)
df['key_isFatal'] = df['message'].apply(key_isFatal)
df['key_isscandir'] = df['message'].apply(key_isscandir)

df['level_isError'] = df['level'].apply(level_isError)

df

,client,level,message,time,label,label_og,key_isAH,value_isInvalid,value_isforbidden,value_isFail,key_script_not_found,key_isFatal,key_isscandir,level_isError
0,0,notice,workerEnv.init() ok /etc/httpd/conf/workers2.p...,1133671664,0,NaN,0,0,0,0,0,0,0,0
1,0,error,mod_jk child workerEnv in error state 6,1133671664,1,1.0,0,0,0,0,0,0,0,1
2,0,notice,jk2_init() Found child 6725 in scoreboard slot 10,1133671868,0,NaN,0,0,0,0,0,0,0,0
3,0,notice,jk2_init() Found child 6726 in scoreboard slot 8,1133671869,0,NaN,0,0,0,0,0,0,0,0
4,0,notice,jk2_init() Found child 6728 in scoreboard slot 6,1133671869,0,NaN,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3332,1,php7:error,script '/var/www/intranet.price.fox.org/wp-inc...,1642484261,1,1.0,0,0,0,0,1,0,0,1
3333,1,php7:error,script '/var/www/intranet.price.fox.org/wp-inc...,1642484261,1,1.0,0,0,0,0,1,0,0,1
3334,1,php7:error,script '/var/www/intranet.price.fox.org/wp-inc...,1642484264,1,1.0,0,0,0,0,1,0,0,1
3335,1,php7:error,script '/var/www/intranet.price.fox.org/wp-inc...,1642484269,1,1.0,0,0,0,0,1,0,0,1
3336,1,php7:error,script '/var/www/intranet.price.fox.org/wp-inc...,1642484269,1,1.0,0,0,0,0,1,0,0,1

In [10]:
list_of_columns = [
    'client',
    'key_isAH',
    'value_isInvalid',
    'value_isforbidden',
    'value_isFail',
    'key_script_not_found',
    'key_isFatal',
    'key_isscandir',
    'level_isError',
    'label'
    ]

# Assuming df is your DataFrame
df = df[list_of_columns]

df_label = df['label'].copy()

df = df.drop(columns=['label'])

df

,client,key_isAH,value_isInvalid,value_isforbidden,value_isFail,key_script_not_found,key_isFatal,key_isscandir,level_isError
0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
3332,1,0,0,0,0,1,0,0,1
3333,1,0,0,0,0,1,0,0,1
3334,1,0,0,0,0,1,0,0,1
3335,1,0,0,0,0,1,0,0,1
3336,1,0,0,0,0,1,0,0,1

# model traingin

In [11]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix
from sklearn.model_selection import train_test_split

# from sklearn.ensemble import IsolationForest
# from sklearn.svm import OneClassSVM
# from sklearn.cluster import DBSCAN
# from sklearn.neighbors import LocalOutlierFactor
from sklearn.ensemble import RandomForestClassifier
# from pyod.models.hbos import HBOS

# from tensorflow.keras.models import Sequential
# from tensorflow.keras.layers import Dense
import numpy as np

from sklearn.metrics import classification_report
import time
import pickle

In [12]:
import joblib

def save_model(model, filename):
    """
    Save a scikit-learn model to a file using joblib.

    Parameters:
    - model: The trained scikit-learn model to be saved.
    - filename: The filename to save the model to.
    """
    joblib.dump(model, filename)
    print(f"Model saved to {filename}")

def load_model(filename):
    """
    Load a scikit-learn model from a file using joblib.

    Parameters:
    - filename: The filename from which to load the model.

    Returns:
    - The loaded scikit-learn model.
    """
    loaded_model = joblib.load(filename)
    print(f"Model loaded from {filename}")
    return loaded_model


# # Save the model
# save_model(model, 'your_model_filename.pkl')

# # Load the model
# model = load_model('your_model_filename.pkl')

In [13]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

def calculate_and_format_metrics(y_true, y_pred):
    # Calculate individual metrics
    accuracy = accuracy_score(y_true, y_pred)
    precision = precision_score(y_true, y_pred)
    recall = recall_score(y_true, y_pred)
    f1 = f1_score(y_true, y_pred)

    # Format metrics as percentages with 2 decimal digits
    accuracy_percentage = "{:.2f}%".format(accuracy * 100)
    precision_percentage = "{:.2f}%".format(precision * 100)
    recall_percentage = "{:.2f}%".format(recall * 100)
    f1_percentage = "{:.2f}%".format(f1 * 100)

    return accuracy_percentage, precision_percentage, recall_percentage, f1_percentage

In [14]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(
    df,
    df_label,
    test_size=0.2,
    random_state=42
)

In [15]:
# Initialize the Random Forest model
model = RandomForestClassifier(random_state=42)

# Training
start_time = time.time()
model.fit(X_train, y_train)
training_time = time.time() - start_time

# Testing and evaluation
start_time = time.time()
y_pred = model.predict(X_test)
prediction_time = time.time() - start_time

# Confusion matrix and classification report
conf_matrix = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred)

# Print the results
print(f"Training Time: {training_time:.4f} seconds")
print(f"Prediction Time: {prediction_time:.4f} seconds")
print("\nConfusion Matrix:")
print(conf_matrix)

accuracy_percentage, precision_percentage, recall_percentage, f1_percentage = calculate_and_format_metrics(y_test, y_pred)

print("\n")
print("Accuracy:", accuracy_percentage)
print("Precision:", precision_percentage)
print("Recall:", recall_percentage)
print("F1 Score:", f1_percentage)

print("\nClassification Report:")
print(class_report)

save_model(model, 'model/Error_rf_model.pkl')

Training Time: 0.0732 seconds
Prediction Time: 0.0040 seconds

Confusion Matrix:
[[302   0]
 [  0 366]]


Accuracy: 100.00%
Precision: 100.00%
Recall: 100.00%
F1 Score: 100.00%

Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       302
           1       1.00      1.00      1.00       366

    accuracy                           1.00       668
   macro avg       1.00      1.00      1.00       668
weighted avg       1.00      1.00      1.00       668

Model saved to model/Error_rf_model.pkl